body{

}

#container{
  width: 455px;
  height: 620px;

  border-radius: 5px;
  position : fixed;
top: 50%;
left: 50%;
translate: -50% -50%;
}

#inner_container{
  width: 100%;
  height: 80%;

  box-shadow: 0px 0px 36px -22px #2B2D42;
  float: left;
  margin-bottom: 33px;

}

img{
  width: 454px;
  height: 619px;
  border-radius: 10px;

}

#button_container{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  width: 25%;
  height: 90%;

  font-size: 20px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;

  border-radius: 5px;
  background-color: #EF233C;
}

button:hover{
  transition: 0.05s;
  background-color: #D90429;
  transform: rotateZ(-10deg);
  box-shadow: 0 0 30px -10px #D90429;
}

button:active{
  transform: translateY(20px);
  transform: rotateZ(10deg);

}
